{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content%}
{% for i in messages %}
    <div class="alert alert-success mb-5" role="alert">
        {{ i }}<br>
    </div>
    {% endfor %}
    <p class="container text-center fs-1 position-absolute top-50 start-50 translate-middle ">
        Kasaje Chat
        <br><br>
        
        <a class="btn btn-success fs-5 me-lg-5 mt-5 "  href="{% url 'login' %}">Log in</a>
        <a class="btn btn-success fs-5 ms-lg-5 mt-5 " href="{% url 'register' %}">Register</a>
        
    </p>

{% endblock%}